<section class="no-padding" id="research_overview">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-xs-4">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Resesarch topic:
                            </div>
                            <div class="project-name">
                                Wireless power transfer for IMDs
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-4">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Research toipic:
                            </div>
                            <div class="project-name">
                                ADAS
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-4">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Research:
                            </div>
                            <div class="project-name">
                                EV WPT
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-4">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Research:
                            </div>
                            <div class="project-name">
                                EMF reduction design
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
