<section class="no-padding" id="research_overview">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>
                    <p style="line-height: 1.8; color:black; font-size:40px;">
                        <B> Research </B>
                    </p>
                </h2>
                <hr class="primary">
            </div>
        </div>
    </div>

    <!--
    <div class="container-fluid">
    -->
    <div class="container">
        <!--
        <div class="row no-gutter">
        -->
        <div class="row">
            <div class="col-xs-6">
                <a href="#" class="portfolio-box">
                    <img src="img/1. IMD_WPT.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Resesarch topic:
                            </div>
                            <div class="project-name">
                                Wireless power transfer for IMDs
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-6">
                <a href="#" class="portfolio-box">
                    <img src="img/2. ADAS.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Research toipic:
                            </div>
                            <div class="project-name">
                                ADAS
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-6">
                <a href="#" class="portfolio-box">
                    <img src="img/3. EV_WPT.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Research:
                            </div>
                            <div class="project-name">
                                EV WPT
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-6">
                <a href="#" class="portfolio-box">
                    <img src="img/4. EM_Analysis.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Research:
                            </div>
                            <div class="project-name">
                                EMF reduction design
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
