<section id="publication">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>
                    <p style="line-height: 1.8; color:black; font-size:40px;">
                        <B> Publication </B>
                    </p>
                </h2>
                <hr class="primary">
            </div>
        </div>
    </div>


  
    <div class="container">
        <!-- Journal Parts -->
        <div class="row">
            <div class="col-md-12 text-left">
                <h4>
                    <p style="line-height: 1.0; color:black; font-size:26px;">
                        <B> Journal </B>
                    </p>
                    <p style="line-height: 1.0; color:black; font-size:20px;">
                        International Journal
                    </p>

                    
                    <p style="line-height: 1.0; color:black; font-size:20px;">
                        Domestic Journal
                    </p>
                    
                    <p style="line-height: 1.8; color:black; font-size:14px;">
                        &nbsp;■	C. Park, J. Park, Y. Shin, J. Kim, S. Huh, <B> D.Kim </B>, and S. Ahn, "Separated Circular Capacitive Coupler for Reducing Cross-Coupling Capacitance in Drone Wireless Power Transfer System," IEEE Transactions on Microwave Theory and Techniques, Vol. 68, No. 9, pp. 3978-3985, Sep. 2020.	<br>
                        &nbsp;■	<B> D.Kim </B>, D. Jeong, J. Kim, H. Kim, J. Kim, S. M. Park, and S. Ahn, "Design and Implementation of a Wireless Charging-Based Cardiac Monitoring System Focused on Temperature Reduction and Robust Power Transfer Efficiency," Energies, Vol. 13, No. 4, p. 1008, Feb. 2020.	<br>
                        &nbsp;■	J. Kim, H. Kim, <B> D.Kim </B>, H. J. Park, K. Ban, S. Ahn, and S. M. Park, "A Wireless Power Transfer based Implantable ECG Monitoring Device," Energies, Vol. 13, No. 4, p. 905, Feb. 2020.	<br>
                        &nbsp;■	A. Hajiaghajani, <B> D.Kim </B>, A. Abdolali, and S. Ahn, "Patterned Magnetic Fields for Remote Steering and Wireless Powering to a Swimming Microrobot," IEEE/ASME Transactions on Mechatronics, Vol. 25, No. 1, pp. 207-216, Feb. 2020.	<br>
                        &nbsp;■	<B> D.Kim </B>, J. Park, B. Park, Y. Shin, K. Kim, H. H Park, and S. Ahn, "Propulsion and Rotation of Microrobot Based on a Force on a Magnetic Material in a Time-Varying Magnetic Field Using a Wireless Power Transfer System," IEEE Transactions on Magnetics, Vol. 45, No. 1, p. 6700105, Jan. 2020.	<br>
                        &nbsp;■	<B> D.Kim </B>, H. Kim, A. Huang, Q. He, H. Zhang, S. Ahn, Y. Zhu, and J. Fan, "Analysis and Introduction of Effective Permeability with Additional Air-Gaps on Wireless Power Transfer Coils for Electric Vehicle Based on SAE J2954 Recommended Practice," Energies, Vol. 12, No. 24, p. 4797, Dec. 2019.	<br>
                        &nbsp;■	J. Kim, K. Kim, H. Kim, <B> D.Kim </B>, J. Park, and S. Ahn, "An Efficient Modeling for Underwater Wireless Power Transfer Using Z-Parameters," IEEE Transactions on Electromagnetic Compatibility, Vol. 61, No. 6, pp. 2006-2014, Dec. 2019.	<br>
                        &nbsp;■	J. Park, C. Park, Y. Shin, <B> D.Kim </B>, B. Park, J. Cho, J. Choi, and S. Ahn, "Planar multiresonance reactive shield for reducing electromagnetic interference in portable wireless power charging application," Applied Physics Letters, Vol. 114, No. 20, pp. 203902-1-203902-5, May 2019.	<br>
                        &nbsp;■	Y. Shin, K. Hwang, J. Park, <B> D.Kim </B>, and S. Ahn, "Precise Vehicle Location Detection Method Using a Wireless Power Transfer (WPT) System," IEEE Transactions on Vehicular Technology, Vol. 68, No. 2, pp. 1167-1177, Feb. 2019.	<br>
                        &nbsp;■	B. Park, <B> D.Kim </B>, J. Park, K. Kim, J. Koo, H. H Park, and S. Ahn, "Optimization design of toroidal core for magnetic energy harvesting near power line by considering saturation effect," AIP Advances, Vol. 8, No. 5, pp. 056728-1-056728-6, Jan. 2018.	<br>
                        &nbsp;■	<B> D.Kim </B>, B. Park, J. Park, H. H Park, and S. Ahn, "Magnetic field concentration using ferromagnetic material to propel a wireless power transfer based micro-robot," AIP Advances, Vol. 8, No. 5, pp. 056723-1-056723-8, Jan. 2018.	<br>
                        &nbsp;■	K. Hwang, <B> D.Kim </B>, D. Har, and S. Ahn, "Pickup Coil Counter for Detecting the Presence of Trains Operated by Wireless Power Transfer," IEEE Sensors Journal, Vol. 17, No. 22, pp. 7526-7532, Nov. 2017.	<br>
                        &nbsp;■	<B> D.Kim </B>, K. Hwang, J. Park, H. H Park, and S. Ahn, "Miniaturization of Implantable Micro-Robot Propulsion Using a Wireless Power Transfer System," micromachines, Vol. 8, No. 269, pp. 1-12, Sep. 2017.	<br>
                        &nbsp;■	<B> D.Kim </B>, K. Hwang, J. Park, H. H Park, and S. Ahn, "High-Efficiency Wireless Power and Force Transfer for a Micro-Robot Using a Multiaxis AC/DC Magnetic Coil," IEEE Transactions on Magnetics, Vol. 53, No. 6, p. 9401804, Jun. 2017.	<br>
                        &nbsp;■	J. Park, <B> D.Kim </B>, K. Hwang, H. H Park, S. I. Kwak, J. H. Kwon, and S. Ahn, "A Resonant Reactive Shielding for Planar Wireless Power Transfer System in Smartphone Application," IEEE Transactions on Electromagnetic Compatibility, Vol. 59, No. 2, pp. 695-703, Apr. 2017.	<br>
                        &nbsp;■	K. Hwang, J. Cho, <B> D.Kim </B>, J. Park, J. H. Kwon, S. I. Kwak, H. H Park, and S. Ahn, "An Autonomous Coil Alignment System for the Dynamic Wireless Charging of Electric Vehicles to Minimize Lateral Misalignment," Energies, Vol. 10, No. 3, p. 315, Mar. 2017.	<br>
                        &nbsp;■	K. Hwang, J. Park, <B> D.Kim </B>, H. H Park, J. H. Kwon, S. I. Kwak, and S. Ahn, "Autonomous Coil Alignment System Using Fuzzy Steering Control for Electric Vehicles with Dynamic Wireless Charging," Mathematical Problems in Engineering, Vol. 2015, No. 205285, pp. 1-14, Dec. 2015.	<br>
                        &nbsp;■	<B> D.Kim </B>, J. Park, H. H Park, and S. Ahn, "Generation of Magnetic Propulsion Force and Torque for Microrobot Using Wireless Power Transfer Coil," IEEE Transactions on Magnetics, Vol. 51, No. 11, p. 8600104, Nov. 2015.	<br>
                        &nbsp;■	M. Kim, H. Kim, <B> D.Kim </B>, Y. Jeong, H. H Park, and S. Ahn, "A Three-Phase Wireless-Power-Transfer System for Online Electric Vehicles with Reduction of Leakage Magnetic Fields," IEEE Transactions on Microwave Theory and Techniques, Vol. 63, No. 11, pp. 3806-3813, Sep. 2015.	<br>
                        &nbsp;■	<B> D.Kim </B>, M. Kim, J. Yoo, H. H Park, and S. Ahn, "Magnetic resonant wireless power transfer for propulsion of implantable micro-robot," Journal of Applied Physics, Vol. 117, No. 17, p. 17E712, Apr. 2015.	<br>
                    </p>
                </h4>
            </div>
        </div>
    </div>
    <div class="container">
        <!-- Journal Parts -->
        <div class="row">
            <div class="col-md-12 text-left">
                <h2>
                    <p style="line-height: 1.0; color:black; font-size:26px;">
                        <B> Conference </B>
                    </p>
                    <p style="line-height: 1.0; color:black; font-size:20px;">
                        International Conference
                    </p>
                    <p style="line-height: 1.8; color:black; font-size:14px;">
                            &nbsp;■	<B> D.Kim </B>, J. Kim, B. Park, H. Kim, S. Huh, and S. Ahn, "Instantaneous Magnetic Force Evaluation on a Magnetic Material for Wireless Power Transfer Based Microrobot Propulsion," 2020 IEEE Wireless Power Transfer Conference (WPTC 2020), Seoul, South Korea, Nov., 2020.	<br>
                            &nbsp;■	<B> D.Kim </B>, Q. He, A. H. , J. Fan, H. Kim, and S. Ahn, "Electric Parameter Tuning of Wireless Power Transfer Coil for Charging Interoperability of Electric Vehicles," 2020 IEEE EMC+SIPI Virtual Symposium, Aug. 2020.	<br>
                            &nbsp;■	<B> D.Kim </B>, J. Kim, H. Kim, and S. Ahn, "Effect of Biological Properties on Parasitic Capacitance Variation of Wireless Power Transfer Coil," Progress In Electromagnetics Research (PIERS) 2019, Rome, Italy, Jun. 2019.	<br>
                            &nbsp;■	<B> D.Kim </B>, B. Park, J. Park, Y. Shin, H. H. Park, and S. Ahn, "Actuator-less implantable microrobot propulsion using ferromagnetic material based on wireless power transfer system," 2018 IEEE Conference on Electromagnetic Field Computation (CEFC 2018), Hangzhou, China, Oct. 2018.	<br>
                            &nbsp;■	<B> D.Kim </B>, B. Park, J. Park, H. H. Park, and S. Ahn, "Microrobot propulsion force generation using semiconductor based wireless power transfer coils," 2018 IEEE 7th Asia-Pacific Conference on Antennas and Propagation (APCAP 2018), Auckland, New Zealand, Aug. 2018.	<br>
                            &nbsp;■	<B> D.Kim </B>, B. Park, J. Park, H. H Park, and S. Ahn, "Magnetic field concentration using ferromagnetic material for propulsion of wireless power transfer based micro-robot," 62nd Annual Conference on Magnetism nd Magnetic Materials (MMM), Pittsburgh, United States, Nov. 2017.	<br>
                            &nbsp;■	<B> D.Kim </B>, J. Park, and S. Ahn, "Dynamic frequency control for high-efficiency power and propulsion force transfer on a wireless power transfer based micro-robot," International Conference of Micro/Nanomachines (ICMNM 2017), Wuhan, China, Aug. 2017.	<br>
                            &nbsp;■	<B> D.Kim </B>, and S. Ahn, "Constant Velocity Motion of a Micro-Robot Using a Uniform Magnetic Field," 2017 Asia-Pacific International Symposium on EMC (APEMC) 2017, Seoul, South Korea, Jun. 2017.	<br>
                            &nbsp;■	<B> D.Kim </B>, J. Park, K. Hwang, and S. Ahn, "High Efficiency Wireless Power and Force Transfer for Micro-robot using 3-Axis AC/DC Magnetic Coil," 2016 IEEE Conference on Electromagnetic Field Computation (CEFC 2016), Miami, United States, Nov. 2016.	<br>
                            &nbsp;■	<B> D.Kim </B>, K. Hwang, J. Park, H. H, Park, and S, Ahn, "Miniaturization of Implantable Micro-robot Propulsion using Wireless Power Transfer System," 4th International Conference of Asian Union of Magnetics Societies (ICAUMS 2016), Tainan, Taiwan, Aug. 2016.	<br>
                            &nbsp;■	<B> D.Kim </B>, J. Park, K. Hwang, and S. Ahn, "Generating Propulsion Force in Micro-robot using Wireless Power Transfer," 2016 URSI Asia-Pacific Radio Science Conference (URSI AP-RASC 2016), Seoul, South Korea, Aug. 2016.	<br>
                            &nbsp;■	<B> D.Kim </B>, and S. Ahn, "Driver status monitoring based on image processing," International Symposia of Transport Simulation 2016 (ISTS 2016), Jeju, South Korea, Jul. 2016.	<br>
                            &nbsp;■	<B> D.Kim </B>, K. Hwang, H. H. Park, and S. Ahn, "Coil Design for Implantable Micro-Robot using Magnetic Resonant Wireless Power Transfer and Magnetic Propulsion," 13th Joint MMM-Intermag Conference 2016, San Diego, United States, Jan. 2016.	<br>
                            &nbsp;■	<B> D.Kim </B>, K. Hwang, S. Ahn, and I. Han, "Driver status monitoring based on Neuromorphic visual processing," World Scientific and Engineering Academy and Society (WSEAS), Seoul, South Korea, Sep. 2015.	<br>
                            &nbsp;■	<B> D.Kim </B>, J. Park, K. Kim, H. H. Park, and S. Ahn, "Propulsion and Control of Implantable Micro-Robot based on Wireless Power Transfer," 2015 IEEE Wireless Power Transfer Conference (WPTC 2015), Boulder, United States, May 2015.	<br>
                            &nbsp;■	<B> D.Kim </B>, J. Park, H. H. Park, and S. Ahn, "Generation of Magnetic Propulsion Force using Wireless Power Transfer Coil," 2015 IEEE International Magnetics Conference (INTERMAG 2015), Beijing, China, May 2015.	<br>
                            &nbsp;■	<B> D.Kim </B>, M. Kim, J. Yoo, H. H. Park, and S. Ahn, "Magnetic Resonant Wireless Power Transfer for Propulsion of Implantable Micro-Robot," 59th Annual Conference on Magnetism and Magnetic Materials (MMM), Honolulu, United States, Nov. 2014.	<br>
                    </p>

                    <p style="line-height: 1.0; color:black; font-size:20px;">
                        Domestic Conference
                    </p>
                    <p style="line-height: 1.8; color:black; font-size:14px;">
                        &nbsp;■	<B> 김동욱 </B>, "자성체의 Effeictive Permeability 조절을 통한 SAE J2954 RP 표준 전기자동차용 무선 전력전송 코일 튜닝," 2020년도 한국자동차공학회 대구경북지회 추계학술대회, 2020	<br>
                        &nbsp;■	<B> 김동욱 </B>, 김종욱, 김해림, 정다원, 안승영, "무선전력전송시스템에서 자성체에 가해지는 자기력을 응용한 마이크로로봇의 추진," 2019년도 한국전자파학회 하계종합학술대회, 2019	<br>
                        &nbsp;■	<B> 김동욱 </B>, 한일송, 안승영, "장애물 검출 및 운전자 상태 인식을 통한 실시간 경고 시스템," 2018년도 한국도시철도학회 춘계학술대회, 2018	<br>
                        &nbsp;■	<B> 김동욱 </B>, 박재형, 안승영, "주파수 변경을 이용한 무선 전력 전송 기반 초소형 마이크로 로봇의 동력 및 전력 전송 기술," 2017년도 한국전자파학회 하계종합학술대회, 2017	<br>
                        &nbsp;■	<B> 김동욱 </B>, 안승영, "초소형 마이크로 로봇의 무선 전력 및 동력 전송 기술," 2015년도 대한전기학회 하계학술대회, 2015	<br>
                        &nbsp;■	<B> 김동욱 </B>, 한일송, 안승영, "철도 운전자 상태 모니터링용 실시간 임베디드 시스템," 2015년도 한국도시철도학회 추계학술대회, 2015	<br>
                        &nbsp;■	<B> 김동욱 </B>, 안승영, "영상처리를 이용한 철도 운전자 상태 모니터링," 2015년도 한국도시철도학회 춘계학술대회, 2015	<br>
                        &nbsp;■	<B> 김동욱 </B>, 안승영, 한일송, "뉴로모르픽 알고리즘을 이용한 도시 철도 선로 보행자 인식", 2014년도 한국도시철도학회 추계학술대회, 2014	<br>
                    </p>
                </h4>
            </div>
        </div>
    </div>    
</section>
