<section id="services">


    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>
                    <p style="line-height: 1.8; color:black; font-size:40px;">
                        <B> Faculty </B>
                    </p>
                </h2>
                <hr class="primary">
            </div>
        </div>
    </div>

    <!-- professor -->
    <div class="container">
        <div class="row">
            <h2>
                <div class="col-xs-12 text-left">
                     <p style="line-height: 1.8; color:black; font-size:30px;">
                         <B> Professor </B>
                    </p>
                </div>
            </h2>
       </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-2 text-left">
                 <!-- Picture part -->
                 <img src="img/portfolio/00_DKim.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-xs-10 text-left">
                <h2>
                    <p style="line-height: 1.0; color:black; font-size:26px;">
                        Dongwook Kim
                    </p>
                <!-- <p style="font-size:10px">Assistant Professor at Yeungnam University</p> -->
                    <p style="line-height: 1.8; color:black; font-size:14px;">
                        <br>
                        Assistant Professor <br>
                        Department of Automotive Engineering <br>
                        College of Mechanical and IT Engineering <br>
                        Yeungnam University, Gyeongsan, Republic of Korea <br>
                        Office: Rm 201, Automotive Engineering Building (G16) <br>
                        Phone: +82-53-810-3006 <br>
                        E-mail: dwkim@yu.ac.kr <br>
                    </p>
                </h2>
            </div>
        </div>

        <!-- Education part -->
        <div class="row">
            <div class="col-md-12 text-left">
                <h4>
                    <p style="line-height: 1.8; color:black; font-size:26px;">
                        Education
                    </p>
                    <p style="line-height: 1.8; color:black; font-size:14px;">
                        &nbsp;■ Ph.D. from the CCS GSGT, Korea Advanced Institute of Science and Technology (KAIST), Daejeon, Republic of  Korea, Aug. 2019 <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Advisor: Prof. Seungyoung Ahn <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Dissertation: Efficient propulsion force and torque generation for implantable microrobot based on Lorentz force using wireless power transfer system <br>
                        &nbsp;■ M.S. from the CCS GSGT, Korea Advanced Institute of Science and Technology (KAIST), Daejeon, Republic of  Korea, Feb. 2016 <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Advisor: Prof. Seungyoung Ahn <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Thesis: Propulsion force and torque generation in implantable micro-robot using wireless power transfer system <br>
                        &nbsp;■ B.S. from Mechatroncis Engineering, Korea Polytechnic University (KPU), Si-Heung, Republic of  Korea, Feb. 2014 <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Advisor: Prof. Yunseok Nam <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Thesis: Humanoid robot for obstacle avoidance <br>
                    </p>
                </h4>
            </div>
       </div>

        <!-- Professional experience part -->
        <div class="row">
            <div class="col-md-12 text-left">
                <h2>
                    <p style="line-height: 1.8; color:black; font-size:26px;">
                        Professional Experiences
                    </p>
                </h2>
                <h4>
                    <p style="line-height: 1.8; color:black; font-size:14px;">
                        &nbsp;■ Assistant Professor, Yeungnam University, Gyeongsan, Republic of Korea, (Sep. 2020 ~ Present)<br>
                        &nbsp;■ Postdoctoral Researcher, University of Calgary, Calgary, Alberta, Canada (Mar. 2020 ~ July 2020)<br>
                        &nbsp;■ Postdoctoral Researcher, Korea Advanced Institute of Science and Technology (KAIST), Daejeon, Republic of Korea (Sep. 2019 ~ Feb. 2020)<br>
                        &nbsp;■ Visiting Researcher, Missouri University of Science and Technology, Rolla, Missouri, United States (Aug. 2018 ~ Feb. 2019)<br>
                    </p>
                </h4>
            </div>
        </div>
        

        <!-- Professional Activities -->
        <div class="row">
            <div class="col-md-12 text-left">
                <h2>
                    <p style="line-height: 1.0; color:black; font-size:26px;">
                        Professional Activities
                    </p>
                    <p style="line-height: 0.5; color:black; font-size:20px;">
                        Memberships
                    </p>
                    <p style="line-height: 1.8; color:black; font-size:14px;">
                        &nbsp;■ IEEE Member<br>
                        &nbsp;■ MDPI Energies Topic Editor<br>
                        &nbsp;■ Member of The Association of Korean-Canadian Scientists and Engineers (AKCSE)<br>
                    </p>

                    <p style="line-height: 0.5; color:black; font-size:20px;">
                        Reviewer of International Journals
                    </p>
                    <p style="line-height: 1.8; color:black; font-size:14px;">
                        &nbsp;■ IEEE Transactions on Power Electronics<br>
                        &nbsp;■ IEEE Transactions on Industrial Electronics<br>
                        &nbsp;■ IEEE Transactions on Microwave Theory and Technology<br>
                        &nbsp;■ IEEE Transactions on Electromagnetic Compatibility<br>
                        &nbsp;■ IEEE Transactions on Magnetics<br>
                        &nbsp;■ IEEE ACCESS<br>
                        &nbsp;■ IEEE Transactions on Transportation Electrification<br>
                        &nbsp;■ IET Power Electronics<br>
                        &nbsp;■ IET Electric Power Applications<br>
                        &nbsp;■ MDPI Energies<br>
                    </p>
                </h4>
            </div>
        </div>


        <!-- Awards & Honors -->
        <div class="row">
            <div class="col-md-12 text-left">
                <h2>
                    <p style="line-height: 1.0; color:black; font-size:26px;">
                        Awards & Honors
                    </p>
                </h2>
                <h4>
                    <p style="line-height: 1.8; color:black; font-size:14px;">
                        &nbsp;■ Excellent Student Research Award - The CCS GSGT, KAIST, Sep. 2019<br>
                        &nbsp;■ Excellent Paper Award – The Korean Society for Urban Railway Spring Conference, May 2019<br>
                        &nbsp;■ Best Student Research Award - The CCS GSGT, KAIST, Mar. 2016<br>
                        &nbsp;■ Excellent Paper Award - The KIEE Summer Conference, Nov. 2015<br>
                        &nbsp;■ Summa Cum Laude - Department of Mechatronics Engineering, Korea Polytechnic University, Feb. 2014<br>
                    </p>
                </h4>
            </div>
        </div>

    </div>
</section>
