<section id="publication">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>
                    <p style="line-height: 1.8; color:black; font-size:40px;">
                        <B> Publication </B>
                    </p>
                </h2>
                <hr class="primary">
            </div>
        </div>
    </div>


  
    <div class="container">
        <!-- Journal Parts -->
        <div class="row">
            <div class="col-md-12 text-left">
                <h2>
                    <p style="line-height: 1.0; color:black; font-size:26px;">
                        <B> Journal </B>
                    </p>
                    <p style="line-height: 1.0; color:black; font-size:20px;">
                        International Journal
                    </p>
                    
                    <h3>
                    <ol start="21" reversed>
                        
                        <li>IEEE Transactions on Power Electronics3 </li>
                        <li>IEEE Transactions on Power Electronics2</li>
                        <li>IEEE Transactions on Power Electronics3</li>
                        <li>IEEE Transactions on Power Electronics4</li>
                        <li>IEEE Transactions on Power Electronics5</li>
                        
                    </ol>
                    </h3>
                    
                    <p style="line-height: 1.0; color:black; font-size:20px;">
                        Domestic Journal
                    </p>
                    <p style="line-height: 1.8; color:black; font-size:14px;">
                        &nbsp;■ IEEE Transactions on Power Electronics<br>
                        &nbsp;■ IEEE Transactions on Industrial Electronics<br>
                        &nbsp;■ IEEE Transactions on Microwave Theory and Technology<br>
                        &nbsp;■ IEEE Transactions on Electromagnetic Compatibility<br>
                        &nbsp;■ IEEE Transactions on Magnetics<br>
                        &nbsp;■ IEEE ACCESS<br>
                        &nbsp;■ IEEE Transactions on Transportation Electrification<br>
                        &nbsp;■ IET Power Electronics<br>
                        &nbsp;■ IET Electric Power Applications<br>
                        &nbsp;■ MDPI Energies<br>
                    </p>
                </h4>
            </div>
        </div>
    </div>
    <div class="container">
        <!-- Journal Parts -->
        <div class="row">
            <div class="col-md-12 text-left">
                <h2>
                    <p style="line-height: 1.0; color:black; font-size:26px;">
                        <B> Conference </B>
                    </p>
                    <p style="line-height: 1.0; color:black; font-size:20px;">
                        International Conference
                    </p>
                    <p style="line-height: 1.8; color:black; font-size:14px;">
                        &nbsp;■ IEEE Member<br>
                        &nbsp;■ MDPI Energies Topic Editor<br>
                        &nbsp;■ Member of The Association of Korean-Canadian Scientists and Engineers (AKCSE)<br>
                    </p>

                    <p style="line-height: 1.0; color:black; font-size:20px;">
                        Domestic Conference
                    </p>
                    <p style="line-height: 1.8; color:black; font-size:14px;">
                        &nbsp;■ IEEE Transactions on Power Electronics<br>
                        &nbsp;■ IEEE Transactions on Industrial Electronics<br>
                        &nbsp;■ IEEE Transactions on Microwave Theory and Technology<br>
                        &nbsp;■ IEEE Transactions on Electromagnetic Compatibility<br>
                        &nbsp;■ IEEE Transactions on Magnetics<br>
                        &nbsp;■ IEEE ACCESS<br>
                        &nbsp;■ IEEE Transactions on Transportation Electrification<br>
                        &nbsp;■ IET Power Electronics<br>
                        &nbsp;■ IET Electric Power Applications<br>
                        &nbsp;■ MDPI Energies<br>
                    </p>
                </h4>
            </div>
        </div>
    </div>    
</section>
