<section id="publication">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>
                    <p style="line-height: 1.8; color:black; font-size:40px;">
                        <B> Publication </B>
                    </p>
                </h2>
                <hr class="primary">
            </div>
        </div>
    </div>

    <!-- professor -->
    <div class="container">
        <div class="row">
            <h2>
                <div class="col-xs-12 text-left">
                     <p style="line-height: 1.8; color:black; font-size:30px;">
                         <B> Journals </B>
                    </p>
                </div>
            </h2>
       </div>
    </div>
    
  
    <div class="container">
        <!-- Journal Parts -->
        <div class="row">
            <div class="col-md-12 text-left">
                <h2>
                    <p style="line-height: 1.0; color:black; font-size:26px;">
                        <B> Professional Activities </B>
                    </p>
                    <p style="line-height: 0.5; color:black; font-size:20px;">
                        International Journals
                    </p>
                    <p style="line-height: 1.8; color:black; font-size:14px;">
                        &nbsp;■ IEEE Member<br>
                        &nbsp;■ MDPI Energies Topic Editor<br>
                        &nbsp;■ Member of The Association of Korean-Canadian Scientists and Engineers (AKCSE)<br>
                    </p>

                    <p style="line-height: 0.5; color:black; font-size:20px;">
                        Domestic Journals
                    </p>
                    <p style="line-height: 1.8; color:black; font-size:14px;">
                        &nbsp;■ IEEE Transactions on Power Electronics<br>
                        &nbsp;■ IEEE Transactions on Industrial Electronics<br>
                        &nbsp;■ IEEE Transactions on Microwave Theory and Technology<br>
                        &nbsp;■ IEEE Transactions on Electromagnetic Compatibility<br>
                        &nbsp;■ IEEE Transactions on Magnetics<br>
                        &nbsp;■ IEEE ACCESS<br>
                        &nbsp;■ IEEE Transactions on Transportation Electrification<br>
                        &nbsp;■ IET Power Electronics<br>
                        &nbsp;■ IET Electric Power Applications<br>
                        &nbsp;■ MDPI Energies<br>
                    </p>
                </h4>
            </div>
        </div>
    </div>
    <div class="container">
        <!-- Journal Parts -->
        <div class="row">
            <div class="col-md-12 text-left">
                <h2>
                    <p style="line-height: 1.0; color:black; font-size:26px;">
                        <B> Conferences </B>
                    </p>
                    <p style="line-height: 0.5; color:black; font-size:20px;">
                        International Conferences
                    </p>
                    <p style="line-height: 1.8; color:black; font-size:14px;">
                        &nbsp;■ IEEE Member<br>
                        &nbsp;■ MDPI Energies Topic Editor<br>
                        &nbsp;■ Member of The Association of Korean-Canadian Scientists and Engineers (AKCSE)<br>
                    </p>

                    <p style="line-height: 0.5; color:black; font-size:20px;">
                        Domestic Conferences
                    </p>
                    <p style="line-height: 1.8; color:black; font-size:14px;">
                        &nbsp;■ IEEE Transactions on Power Electronics<br>
                        &nbsp;■ IEEE Transactions on Industrial Electronics<br>
                        &nbsp;■ IEEE Transactions on Microwave Theory and Technology<br>
                        &nbsp;■ IEEE Transactions on Electromagnetic Compatibility<br>
                        &nbsp;■ IEEE Transactions on Magnetics<br>
                        &nbsp;■ IEEE ACCESS<br>
                        &nbsp;■ IEEE Transactions on Transportation Electrification<br>
                        &nbsp;■ IET Power Electronics<br>
                        &nbsp;■ IET Electric Power Applications<br>
                        &nbsp;■ MDPI Energies<br>
                    </p>
                </h4>
            </div>
        </div>
    </div>    
</section>
