<section id="students">
    <!-- 학생부분 과정 구분 - 석사 -->
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>
                    <p style="line-height: 1.8; color:black; font-size:40px;">
                        <B> Students </B>
                    </p>
                </h2>
                <hr class="primary">
            </div>
        </div>
    </div>

    <!-- 석사과정 -->
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-left">
                 <h2>
                    <p style="line-height: 1.8; color:black; font-size:30px;">
                            Master course
                     </p>
                </h2>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
        <!-- 학부생1 사진 -->
            <div class="col-xs-2 text-left">
                 <!-- Picture part -->
                 <img src="img/portfolio/01_SLee.jpg" class="img-responsive" alt="">
            </div>
        <!-- 학부생1 정보 -->
            <div class="col-xs-4 text-left">
                <h4>
                    <p style="line-height: 1.8; color:black; font-size:20px;">
                        이성진 석사
                    </p>
                    <p style="line-height: 1.8; color:black; font-size:14px;">
                        Research area<br>
                        - WPT System <br>
                        - Embedded programming <br>
                        E-mail: dwkim@yu.ac.kr <br>
                    </p>
                </h4>
            </div>
    
            <!-- 학부생2 사진 -->
            <div class="col-xs-2 text-left">
                 <!-- Picture part -->
                 <img src="img/portfolio/02_KLee.jpg" class="img-responsive" alt="">
            </div>
            <!-- 학부생2 정보 -->
            <div class="col-xs-4 text-left">
                <h4>
                    <p style="line-height: 1.8; color:black; font-size:20px;">
                        이규호 석사
                    </p>
                    <p style="line-height: 1.8; color:black; font-size:14px;">
                        Research area<br>
                        - WPT System <br>
                        - Embedded programming <br>
                        E-mail: dwkim@yu.ac.kr <br>
                    </p>
                </h4>
            </div>

        </div>
    </div>

    <!-- 석사과정 -->
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-left">
                 <h2>
                    <p style="line-height: 1.8; color:black; font-size:30px;">
                            Undergraduated students
                     </p>
                </h2>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
        <!-- 학부생1 사진 -->
            <div class="col-xs-2 text-left">
                 <!-- Picture part -->
                 <img src="img/portfolio/01_SLee.jpg" class="img-responsive" alt="">
            </div>
        <!-- 학부생1 정보 -->
            <div class="col-xs-4 text-left">
                <h4>
                    <p style="line-height: 1.8; color:black; font-size:20px;">
                        이성진
                    </p>
                    <p style="line-height: 1.8; color:black; font-size:14px;">
                        Research area<br>
                        - WPT System <br>
                        - Embedded programming <br>
                        E-mail: dwkim@yu.ac.kr <br>
                    </p>
                </h4>
            </div>
    
            <!-- 학부생2 사진 -->
            <div class="col-xs-2 text-left">
                 <!-- Picture part -->
                 <img src="img/portfolio/02_KLee.jpg" class="img-responsive" alt="">
            </div>
            <!-- 학부생2 정보 -->
            <div class="col-xs-4 text-left">
                <h4>
                    <p style="line-height: 1.8; color:black; font-size:20px;">
                        이규호
                    </p>
                    <p style="line-height: 1.8; color:black; font-size:14px;">
                        Research area<br>
                        - WPT System <br>
                        - Embedded programming <br>
                        E-mail: dwkim@yu.ac.kr <br>
                    </p>
                </h4>
            </div>

        </div>
    </div>






    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Sturdy Templates</h3>
                    <p class="text-muted">Our templates are updated regularly so they don't break.</p>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Ready to Ship</h3>
                    <p class="text-muted">You can use this theme as is, or you can make changes!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Up to Date</h3>
                    <p class="text-muted">We update dependencies to keep things fresh.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <!-- <h3>Made with Love</h3> -->
                    <h3>ADAS</h3>
                    <p class="text-muted">Advanced driver monitoring system (ADAS)</p>
                </div>
            </div>
        </div>
    </div>
</section>
